
<div class="container">
  <div class="row p-5">
    <div class="col-lg-3 col-md-3 col-sm-3">
      <div class="card" >
        <div class="card-body bg-secondary bg-opacity-25" >
          <h4 class="card-title p-0 text-dark"><input type="text" class="input-group-text" [(ngModel)]="notee.noteHeading" ></h4>
          <p class="card-text text-black-50 p-4"><textarea [(ngModel)]="notee.noteBody"> </textarea></p>
          <h2 class="card-footer bg-secondary bg-opacity-25">
            <button (click)="add()" class="btn btn-primary">add</button></h2>
        </div>
      </div>
      </div>
    <div class="col-lg-3 col-md-3 col-sm-3"  *ngFor="let note of notes">
      <div class="card" >
        <div class="card-body bg-secondary bg-opacity-25" >
         <h4 class="card-title p-0 text-dark">{{note.noteHeading}}
         <div class="btn-group">
           <button (click)="update(note.id)" class="btn btn-warning"><i class="bi bi-cloud-plus-fill"></i></button>
           <button (click)="delete(note.id)" class="btn btn-danger"><i class="bi bi-calendar2-x"></i></button>
         </div>  <hr></h4>
          <p class="card-text text-black-50 p-4">{{note.noteBody}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
