
<div class="container p-5">
  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="searcher.todoData" >
  <div class= "btn-group p-5">
    <button class="btn btn-outline-info my-2 my-sm-0" (click)="searcherfunc()">Search</button>
    <button (click)="getting()" class="btn btn-outline-success">todolist</button></div>
  <div class="container border-dark border-3 rounded ">
    <h5 class="bg-danger rounded opacity-75" *ngIf="notFoundshow" >not found ! </h5>
  </div>
  <table class="table " *ngIf="mainTableShow">
    <thead class="table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">tododata
        <a (click)="addListCall()"><i class="bi bi-file-earmark-plus-fill"></i></a></th>

    </tr>

    </thead>
    <tbody *ngFor = "let todo of todolist">
    <tr>
      <th scope="row">{{todo.id}}</th>
      <td>{{todo.todoData}} <span class="p-1"><a (click)="delete(todo.id)" ><i class="bi bi-dash-circle p-2" ></i></a> <a (click)="update(todo.id)"><i class="bi bi-pencil-fill p-2"></i></a> </span></td>
      <td>{{todo.datecreated}}</td>
      <td>{{todo.datedeadline}}</td>
    </tr>
    </tbody>
  </table>
  <div class="container" *ngIf="showUpdate">
    <input type="text" class="input-group input-group-text" [(ngModel)]="textUpdate">
    <button class=" input-group btn btn-warning" (click)="updateList()">update</button>
  </div>
  <div class="container" *ngIf="showAdd">
    <input type="text" class="input-group input-group-text" [(ngModel)]="addUpdate">
    <button class=" input-group btn btn-warning" (click)="addList()">Add</button>
  </div>
  <table class="table table-striped" *ngIf="searchTableshow">
    <thead class="table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">tododata
        <a (click)="addListCall()"><i class="bi bi-file-earmark-plus-fill"></i></a></th>
    </tr>
    </thead>
    <tbody *ngFor = "let todo of searchlist">
    <tr>
      <th scope="row">{{todo.id}}</th>
      <td>{{todo.todoData}} <span class="p-1"><a (click)="delete(todo.id)" ><i class="bi bi-dash-circle p-2" ></i></a> <a (click)="update(todo.id)"><i class="bi bi-pencil-fill p-2"></i></a> </span></td>
    </tr>
    </tbody>
  </table>
</div>

